.footer {
    padding: 60px 0 40px 0;

    .footer-wrap {
        display: flex;
        justify-content: space-between;

        .footer-right {
            display: flex;
        }

        &__right {
            max-width: 347px;
            padding: 0 15px;
            gap: 20px;
            display: flex;
            flex-direction: column;
        }

        &__block {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__top {
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            font-family: var(--second-font);
        }

        &__subtitle {
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

        }

        & h2 {
            font-size: 20px;
            line-height: 26px;
        }

        & a {
            font-size: 14px;
            line-height: 24px;
            color: var(--black-color);
            text-decoration: none;
        }

        &__icons {
            display: flex;
            gap: 10px;
        }
    }


}